.user-png {
  width: 20px;
  min-height: 20px;
}
.navbar-brand {
  font-weight: bold;
  font-size: 24px;
  color: #007bff;

}
.btn-nav {
    color:rgb(244, 244, 244) !important;
    background-color: #007bff;
    border-radius: 5px;
    font-weight:600;


}
/* mobile view pe full width */
@media (max-width: 991.98px) {
  .btn-nav {

    display: flex;
    align-items: center!important;
    justify-content: center!important;
    /* display: inline; */
    
    width: 25% !important;
    margin: 0.5rem 0; /* optional spacing */
  }
}

/* desktop view pe 50% width */
/* @media (min-width: 576px) {
  .btn-nav {
    width: 50% !important;
    margin: 0; 
  }
} */
  